In [2]:
import pandas as pd

# Read the Titanic dataset
df = pd.read_csv('titanic.csv')

# Filter the dataset to include only male survivors
male_survivors = df[(df['Sex'] == 'male') & (df['Survived'] == 1)]
# Filter the dataset to include only female survivors
female_survivors = df[(df['Sex'] == 'female') & (df['Survived'] == 1)]

# Count the number of male and female survivors
num_male_survivors = male_survivors.shape[0]
num_female_survivors = female_survivors.shape[0]

# Display the number of male and female survivors and their names
print(f"Number of male survivors: {num_male_survivors}")
print(male_survivors[['Name', 'Sex', 'Age', 'Pclass', 'Fare']])

print(f"Number of female survivors: {num_female_survivors}")
print(female_survivors[['Name', 'Sex', 'Age', 'Pclass', 'Fare']])

Number of male survivors: 109
                                Name   Sex   Age  Pclass     Fare
17      Williams, Mr. Charles Eugene  male   NaN       2  13.0000
21             Beesley, Mr. Lawrence  male  34.0       2  13.0000
23      Sloper, Mr. William Thompson  male  28.0       1  35.5000
36                  Mamee, Mr. Hanna  male   NaN       3   7.2292
55                 Woolner, Mr. Hugh  male   NaN       1  35.5000
..                               ...   ...   ...     ...      ...
838                  Chip, Mr. Chang  male  32.0       3  56.4958
839             Marechal, Mr. Pierre  male   NaN       1  29.7000
857           Daly, Mr. Peter Denis   male  51.0       1  26.5500
869  Johnson, Master. Harold Theodor  male   4.0       3  11.1333
889            Behr, Mr. Karl Howell  male  26.0       1  30.0000

[109 rows x 5 columns]
Number of female survivors: 233
                                                  Name     Sex   Age  Pclass  \
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0       1
2                               Heikkinen, Miss. Laina  female  26.0       3
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0       1
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0       3
9                  Nasser, Mrs. Nicholas (Adele Achem)  female  14.0       2
..                                                 ...     ...   ...     ...
874              Abelson, Mrs. Samuel (Hannah Wizosky)  female  28.0       2
875                   Najib, Miss. Adele Kiamie "Jane"  female  15.0       3
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female  56.0       1
880       Shelley, Mrs. William (Imanita Parrish Hall)  female  25.0       2
887                       Graham, Miss. Margaret Edith  female  19.0       1

        Fare
1    71.2833
2     7.9250
3    53.1000
8    11.1333
9    30.0708
..       ...
874  24.0000
875   7.2250
879  83.1583
880  26.0000
887  30.0000

[233 rows x 5 columns]