In [5]:
import pandas as pd

# Read the Titanic dataset
df = pd.read_csv('titanic.csv')

# Filter the dataset to include only male passengers
male_passengers = df[df['Sex'] == 'male']
# Filter the dataset to include only female passengers
female_passengers = df[df['Sex'] == 'female']

# Display the number of male passengers and their details
print(f"Number of male passengers: {male_passengers.shape[0]}")
print(male_passengers[['Name', 'Sex', 'Age', 'Pclass', 'Fare']])

# Display the number of female passengers and their details
print(f"Number of female passengers: {female_passengers.shape[0]}")
print(female_passengers[['Name', 'Sex', 'Age', 'Pclass', 'Fare']])

Number of male passengers: 577
                               Name   Sex   Age  Pclass     Fare
0           Braund, Mr. Owen Harris  male  22.0       3   7.2500
4          Allen, Mr. William Henry  male  35.0       3   8.0500
5                  Moran, Mr. James  male   NaN       3   8.4583
6           McCarthy, Mr. Timothy J  male  54.0       1  51.8625
7    Palsson, Master. Gosta Leonard  male   2.0       3  21.0750
..                              ...   ...   ...     ...      ...
883   Banfield, Mr. Frederick James  male  28.0       2  10.5000
884          Sutehall, Mr. Henry Jr  male  25.0       3   7.0500
886           Montvila, Rev. Juozas  male  27.0       2  13.0000
889           Behr, Mr. Karl Howell  male  26.0       1  30.0000
890             Dooley, Mr. Patrick  male  32.0       3   7.7500

[577 rows x 5 columns]
Number of female passengers: 314
                                                  Name     Sex   Age  Pclass  \
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0       1
2                               Heikkinen, Miss. Laina  female  26.0       3
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0       1
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0       3
9                  Nasser, Mrs. Nicholas (Adele Achem)  female  14.0       2
..                                                 ...     ...   ...     ...
880       Shelley, Mrs. William (Imanita Parrish Hall)  female  25.0       2
882                       Dahlberg, Miss. Gerda Ulrika  female  22.0       3
885               Rice, Mrs. William (Margaret Norton)  female  39.0       3
887                       Graham, Miss. Margaret Edith  female  19.0       1
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN       3

        Fare
1    71.2833
2     7.9250
3    53.1000
8    11.1333
9    30.0708
..       ...
880  26.0000
882  10.5167
885  29.1250
887  30.0000
888  23.4500

[314 rows x 5 columns]